openai>=1.30.0
whitenoise==6.9.0
gunicorn==23.0.0
six==1.17.0
sqlparse==0.5.3
asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.4
django-background-tasks==1.2.8
django-bootstrap3==25.1
django-crispy-forms==2.4
django-dotenv==1.4.2
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
idna==3.13
ldap3==2.9.1
numpy==2.4.4
openpyxl==3.1.5
pandas==3.0.2
pillow==12.2.0
pyasn1==0.6.3
PyMuPDF==1.24.14
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pywin32==311; sys_platform == "win32"
requests==2.33.1
six==1.17.0
sqlparse==0.5.3
./requirements_apps/brevis.one-PythonSDK-v23.01
tzdata==2025.2
urllib3==2.6.3
psycopg2-binary
dj-database-url
