{% extends "base_panel.html" %}
{% block content %}
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-single-box">
          <br><br><br>
          <h1 class="title-single">
            {% if company %}Edit Company{% else %}Add Company{% endif %}
          </h1>
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">Company Name</label>
              <input type="text" name="company_name" class="form-control"
                     value="{{ company.company_name|default_if_none:'' }}" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Host</label>
              <select name="host_name" class="form-select">
                <option value="">---</option>
                {% for host in hosts %}
                  <option value="{{ host.id }}"
                    {% if company.host_name.id == host.id %}selected{% endif %}>
                    {{ host.host_name }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'companies' %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
