{% extends "base_panel.html" %}
{% block content %}
<br><br><br>
<div class="container">
  <h1 class="title-single mb-3">Edit pack – {{ pkg.code }}</h1>
  <form method="post" class="card p-3">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col-md-4">{{ form.delivered_at.label_tag }} {{ form.delivered_at }}</div>
      <div class="col-md-4">{{ form.sender.label_tag }} {{ form.sender }}</div>
      <div class="col-md-4">{{ form.recipient.label_tag }} {{ form.recipient }}</div>
    </div>
    <div class="mt-3 d-flex gap-2">
      <a href="{% url 'boxflow_detail' pkg.pk %}" class="btn btn-secondary">Cancel</a>
      <button class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
{% endblock %}
